##### 数据预处理
将原始数据读入

创建一个人工数据集，存储在csv（逗号分割值）文件中
csv：每行一个数据，每个entry用逗号隔开

In [3]:
import os

os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')        # 每行表示一个数据样本，NA代表未知值
    f.write('2,NA,106000\n') 
    f.write('4,NA,178100\n') 
    f.write('NA,NA,14000\n')

In [5]:
# 安装pandas进行数据和文件之间的操作
!pip install pandas
import pandas as pd

data = pd.read_csv(data_file)
data

Requirement already satisfied: pandas in /home/rikoo/anaconda3/envs/d2l-zh/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/rikoo/anaconda3/envs/d2l-zh/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/rikoo/anaconda3/envs/d2l-zh/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /home/rikoo/anaconda3/envs/d2l-zh/lib/python3.8/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /home/rikoo/anaconda3/envs/d2l-zh/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN   14000

处理缺失值
一般是插入新值或者删除
iloc = index location

In [7]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
inputs = inputs.fillna(inputs.mean())     # 填入均值
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

对于离散值，NaN视为一个类别 ！！！！将其变成一种数值而不是string，两类，一类是Pave，一类Na

In [8]:
inputs = pd.get_dummies(inputs,dummy_na=True)
inputs

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

现在表中都是数值类型，转换成张量格式

In [10]:
import torch
X,y = torch.tensor(inputs.values),torch.tensor(outputs.values)
X,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500, 106000, 178100,  14000]))